<div class="device-background">
  <div class="device-text">
    <h4>Easy to use</h4>
    <p>Send lumens using recognization Stellar Address instead of using Stellar Account ID. This will help give you some assurance that you are sending it to the right person. Supported by most wallets including Stellar's Account Viewer.</p>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>
