<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <%= image_tag "planet.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Federation Service</h2>
      <p>Provides Stellar Federation Service to lookup a Stellar Acount using a easy to remember email address.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <%= image_tag "search.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Reverse Lookups</h2>
      <p>Do reverse lookup to get the Stellar address of a Stellar account by specifying the Public key.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <%= image_tag "json.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Compliant</h2>
      <p>The service is compliant with the Federation protocol defined by Stellar organization.</a></p>
    </div>
  </li>
</ul>
