<p>
  Public Key:<br/>
  <code><%= @account.public_key %></code>
  <br/>
  Secret Key:<br/>
  <code><%= @account.secret_key %></code>
</p>
<p>
  Use the Secret key shown above to access or transfer lumens via the official Stellar.org
  <a target="_blank" href="https://www.stellar.org/account-viewer/#!/">Account Viewer Wallet</a>
</p>
