<% content_for :javascripts do %>
  <%= javascript_include_tag "accounts" %>
<% end %>
<div class="side-image accounts">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
    <div class="container">
      <p class="flash-error">
        <strong>ATTENTION:</strong>
        The Stellar Public and Secret key will be displayed one time only, after pressing the <code>Reveal Account Details</code> button below.
        <br/>
        Once your Public and Secret key is revealed, please write it down and keep it safe.
        <br/>
        You will lose access to your lumens if you lose your Secret key.
      </p>
      <h4>Stellar Account Details</h4>
      <h1>You have <%= @account.balance rescue 0 %> Stellar Lumens in your Stellar Account</h1>
      <button class="reveal">Reveal Account Details</button>
    </div>
  </div>
</div>
